# Changelog

Canvis al repositori que shan anat produint durant les diferents versions del
programa.
{{ range . }}
## [{{ .Tag }}]{{ if .Date }} - {{ .Date }}{{ end }}
{{ if .Message }}
{{ .Message }}{{ end }}
{{ range $key, $value := .Commits }}
### {{ $key }}
{{ range $value }}
- {{ .Header }}{{ end }}
{{ end }}{{ end }}