# Changelog

Canvis al repositori que shan anat produint durant els cursos
{{ range . }}
## {{ .Tag }}
{{ range $key, $value := .Commits }}
### {{ $key }}
{{ range $value }}
- {{ .Type }} {{ .Header }}{{ end }}
{{ end }}
{{ end }}
